### all ignore ###
/*
/.**

### not ignore ###
!/README.md
!.gitignore

!/setup.sh
!/ssh_config
!/tmux.conf
!/gitconfig
!/nvim.lua
!/fish
!/vscode
!/Docker
!/colorset.itermcolors
!/tmux_tpl.sh
!/setup_fish.sh
!/setup_github_ssh.sh