### all ignore ###
/*
/.**

### not ignore ###
!/README.md
!.gitignore

!/setup.sh
!/ssh_config
!/tmux.conf
!/gitconfig
!/nvim.lua
!/fish
!/vscode
!/Docker
!/colorset.itermcolors
!/tmux_tpl.sh
!/setup_fish.sh
!/setup_github_ssh.sh
!/setup_dict.sh

!/dict/
/dict/*
!/dict/custom_medical_dict.txt
# Generated dictionaries
/dict/google_ime_medical.txt
/dict/macos_ime_medical.plist
/dict/ms_ime_medical.txt
# Source dictionary directories
/dict/DMiME-1.1/
/dict/MANBYO_201907/